@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
    --background: 1.000 0.000 0;
    --foreground: 0.142 0.005 299.0640167210988;
    --card: 1.000 0.000 0;
    --card-foreground: 0.142 0.005 299.0640167210988;
    --popover: 1.000 0.000 0;
    --popover-foreground: 0.142 0.005 299.0640167210988;
    --primary: 0.545 0.241 288.6520813657529;
    --primary-foreground: 0.959 0.003 299.242556302609;
    --secondary: 0.964 0.007 299.18117575810174;
    --secondary-foreground: 0.198 0.026 297.00489455800266;
    --muted: 0.964 0.007 299.18117575810174;
    --muted-foreground: 0.484 0.109 295.0707433755481;
    --accent: 0.874 0.047 298.3767918488912;
    --accent-foreground: 0.181 0.055 293.14731810690284;
    --destructive: 0.580 0.237 28.43022926835137;
    --border: 0.874 0.025 298.8149826094247;
    --input: 0.874 0.025 298.8149826094247;
    --ring: 0.545 0.241 288.6520813657529;
    --chart-1: 0.545 0.241 288.6520813657529;
    --chart-2: 0.720 0.129 296.0313401684762;
    --chart-3: 0.843 0.059 298.0850980122966;
    --chart-4: 0.437 0.260 279.21069776301385;
    --chart-5: 0.364 0.208 281.4808615180027;
    --sidebar: 0.964 0.007 299.18117575810174;
    --sidebar-foreground: 0.198 0.026 297.00489455800266;
    --sidebar-primary: 0.545 0.241 288.6520813657529;
    --sidebar-primary-foreground: 0.959 0.003 299.242556302609;
    --sidebar-accent: 0.874 0.047 298.3767918488912;
    --sidebar-accent-foreground: 0.181 0.055 293.14731810690284;
    --sidebar-border: 0.874 0.025 298.8149826094247;
    --sidebar-ring: 0.545 0.241 288.6520813657529;
  }

  .dark {
    --background: 0.195 0.031 296.4580367688801;
    --foreground: 0.959 0.003 299.242556302609;
    --card: 0.232 0.041 296.0680200822697;
    --card-foreground: 0.959 0.003 299.242556302609;
    --popover: 0.232 0.041 296.0680200822697;
    --popover-foreground: 0.959 0.003 299.242556302609;
    --primary: 0.553 0.218 290.45625531957205;
    --primary-foreground: 0.959 0.003 299.242556302609;
    --secondary: 0.299 0.048 296.3778666030458;
    --secondary-foreground: 0.956 0.009 299.1484925362795;
    --muted: 0.299 0.048 296.3778666030458;
    --muted-foreground: 0.696 0.040 298.32257820238004;
    --accent: 0.396 0.164 289.81041976402656;
    --accent-foreground: 0.948 0.019 298.957322896494;
    --destructive: 0.580 0.237 28.43022926835137;
    --border: 0.367 0.078 295.3457460664387;
    --input: 0.367 0.078 295.3457460664387;
    --ring: 0.553 0.218 290.45625531957205;
    --chart-1: 0.553 0.218 290.45625531957205;
    --chart-2: 0.653 0.177 293.9986640628721;
    --chart-3: 0.762 0.124 296.3652060342158;
    --chart-4: 0.437 0.213 286.744414576218;
    --chart-5: 0.375 0.153 289.96047070623547;
    --sidebar: 0.301 0.060 295.60800020892907;
    --sidebar-foreground: 0.959 0.003 299.242556302609;
    --sidebar-primary: 0.553 0.218 290.45625531957205;
    --sidebar-primary-foreground: 0.959 0.003 299.242556302609;
    --sidebar-accent: 0.396 0.164 289.81041976402656;
    --sidebar-accent-foreground: 0.948 0.019 298.957322896494;
    --sidebar-border: 0.367 0.078 295.3457460664387;
    --sidebar-ring: 0.553 0.218 290.45625531957205;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-secondary text-foreground;
  }
}